@model InventoryFinal.Models.supplier

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>supplier</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.company)
            @Html.ValidationMessageFor(model => model.company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adress)
            @Html.ValidationMessageFor(model => model.adress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.postal_code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.postal_code)
            @Html.ValidationMessageFor(model => model.postal_code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.details)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.details)
            @Html.ValidationMessageFor(model => model.details)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

