@using System.Web.Optimization
@model InventoryFinal.Models.bundle_lot

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>bundle_lot</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bundle_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bundle_name)
            @Html.ValidationMessageFor(model => model.bundle_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.des)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.des)
            @Html.ValidationMessageFor(model => model.des)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
